@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", serif;
}

.blue {
    color: #38b6ff;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 
NAV
*/

nav {
    background-color: black;
    height: 80px;
    display: flex;
}

.nav__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 200px;
}


.nav__link {
    margin-right: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #eef8ff;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #eef8ff;
    color: black;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
    background: #38b6ff;
    color: #eef8ff;
}


/* 
LANDING
*/

#landing-page {
    height: 100vw;
    background-color: #eef8ff;
    overflow-x: hidden;
    padding: 10px 20px 0 20px;
    overflow: hidden;
}

.landing__wrapper {
    max-width: 100vw;
    padding: 10px 20px 0 20px;
}

.landing__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.landing__title {
    font-size: 60px;
    max-width: 1000px;
    text-align: center;
    color: #38b6ff;
    text-shadow: 1px 3px 2px lightgray;

}

.landing__find {
    font-size: 32px;
    padding-top: 20px;
    text-align: center;
    max-width: 700px;
    text-shadow: 1px 3px 2px lightgray;
    padding-bottom: 32px;
}

.input__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center
}

.movie__search--input {
    background-color: #eef8ff;
    border-radius: 20px;
    border: 1px solid black;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px
}

.movie__search--input::placeholder {
    font-weight: 500;
    color: rgb(162, 160, 160);
}

.movie__search--input:hover {
    border-color: lightgrey;
}

.movie__search--input:focus,
.movie__search--input:active {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border: 4px solid;
    border-color: #38b6ff;
}

button {
   width: 200px;
   margin-left: 20px;
   font-size: 40px;
   color: #eef8ff;
   border-radius: 20px;
   transition: all 300ms ease;
}

button.not__loading {
    border: 3px solid #38b6ff;
    background-color: #38b6ff;
    box-shadow: 7px 7px 14px rgb(215, 215, 215);
}

button.not__loading:hover {
    background-color: #eef8ff;
    color: #38b6ff;
}

.button.not__loading:active {
    transform: scale(.95);
}